workflows/daily_ceo_report.json
{
  "name": "Daily CEO Sales Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule (7am Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SALES_API_URL }}/metrics/daily",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $env.SALES_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Sales Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{\n  json: {\n    date: new Date().toISOString().split('T')[0],\n    revenue: d.revenue ?? 0,\n    deals_closed: d.deals_closed ?? 0,\n    pipeline_value: d.pipeline_value ?? 0,\n    top_deals: d.top_deals ?? [],\n    churn: d.churn ?? 0,\n    new_leads: d.new_leads ?? 0\n  }\n}];"
      },
      "name": "Normalise Sales Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {
          "systemMessage": "You are a senior sales analyst at Kronix Labs.\nGiven raw sales metrics, produce a concise daily CEO report in markdown.\n\nThe report must include:\n1. **Executive Summary** — 2-3 sentence headline takeaway\n2. **Key Metrics** — formatted table (Revenue, Deals Closed, Pipeline, New Leads, Churn)\n3. **Top Deals** — bullet list with deal name and value\n4. **Risks & Opportunities** — 2-3 brief bullets\n5. **Recommended Actions** — 1-3 specific, actionable items for the CEO\n\nKeep the tone direct and data-driven. No fluff."
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Here is today's sales data:\n\n```json\n{{ JSON.stringify($json, null, 2) }}\n```\n\nGenerate the CEO report."
            }
          ]
        }
      },
      "name": "Generate Report (Claude)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const report = $input.first().json.text ?? '';\nconst date = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nreturn [{ json: { subject: `Daily Sales Report — ${date}`, body: report } }];"
      },
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "fromEmail": "reports@kronixlabs.com",
        "toEmail": "={{ $env.CEO_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "message": "={{ $json.body }}"
      },
      "name": "Email CEO",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Schedule (7am Mon-Fri)": {
      "main": [[{ "node": "Fetch Sales Data", "type": "main", "index": 0 }]]
    },
    "Fetch Sales Data": {
      "main": [[{ "node": "Normalise Sales Data", "type": "main", "index": 0 }]]
    },
    "Normalise Sales Data": {
      "main": [[{ "node": "Generate Report (Claude)", "type": "main", "index": 0 }]]
    },
    "Generate Report (Claude)": {
      "main": [[{ "node": "Format Email", "type": "main", "index": 0 }]]
    },
    "Format Email": {
      "main": [[{ "node": "Email CEO", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "errorWorkflow": "",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "timezone": "America/New_York"
  }
}
